<h2>Welcome to An Inconvenient App:Road Trip Edition!</h2>
<p>For the next five minutes, your mission is to fullfill the classic American coming-of-age tale: the cross-country road trip. You'll start with $250. The money is yours to spend, but be careful: if you run out of money, your trip is over!</p>
<%= link_to "Create Your Player", new_game_path, {class: "red button radius right"} %>
