/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation
 *= require font-awesome
 *= require_self
 */
body {
    background-color: #fbfbfb;
    color: #475291;
    font-family: "Nobile"
    }

h1, h2, h3, h4, h5, h6, .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, label, a {
    color: #474949
    }

h1, h2, h3, h4, h5 {
    font-family: "Lemon"
    }

nav.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #475291
    }

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #1CAAA2
    }

#content {
    margin-top: 20px;
    min-height: 500px
    }

.panel {
    /*background-color: #4D1A1A;*/
    }

#map {
    height: 400px
    }

#status > .panel {
    height: 300px;
    margin: 0
    }

#status > .panel > .meter-container > .progress, #status > .panel .meter-container {
    height: 80%
    }

.meter-container {
    padding: 0 25px
    }

#questions {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    border-top: none
    }

.session-icon {
    width: 8px;
    height: 8px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #322
    }

.session-icon {
    font-size: 1.25em;
    color: #322
    }

.app-icon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #FF4E5B;
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto
    }

.app-icon a {
    margin: auto;
    font-size: 7em;
    color: #FF4E5B
    }

.button.red {
    background-color: #FF4E5B;
    font-family: "Lemon"
    }

i.fa-facebook-square, i.fa-twitter-square {
    font-size: 3.5em
    }

.leaflet-clickable, .leaflet-container {
    cursor: default
    }

.progress {
    background-color: #FFF;
    border: 1px solid #d8d8d8
    }

.footer {
    background-color: #475291;
    border-top: 5px solid #474949;
    min-height: 200px;
    padding-top: 20px;
    margin-top: 20px;
    color: #fbfbfb
    }

.footer a {
    color: #fbfbfb;
    text-decoration: underline
    }

.alert-box.warning h1, .alert-box.warning h2, .alert-box.warning h3, .alert-box.warning h4, .alert-box.warning h5, .alert-box.warning h6 {
    color: white
    }
.disabled .app-icon i
{
    color:rgba(1, 1, 1, .5);
    border: none;
}
.disabled a:hover, .disabled a
{
    text-decoration: none;
    color:#474949;
    cursor:not-allowed;
}