/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation
 *= require_self
 */

body
{
	background-color: #661111;
	color:#FFF;
	font-family: 'Nobile'
}
h1, h2, h3, h4, h5, h6, .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, label
{
	color:#FFF;
}
h1,h2,h3, h4, h5
{
	font-family: 'Lemon'
}
nav.top-bar, .top-bar-section li:not(.has-form) a:not(.button)
{
	background-color: #332222;
}
.top-bar-section li:not(.has-form) a:not(.button):hover
{
	background-color: #4D1A1A;
}
#content
{
	margin-top:20px;
}
.panel
{
	background-color: #4D1A1A;
}
#map
{
	height:400px;
}
#status>.panel
{
	height:300px;
	margin: 0;
}
#status>.panel>.meter-container>.progress, #status>.panel .meter-container
{
	height: 80%;
}
.meter-container
{
	padding:0 25px;
}
#questions
{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: none;
}
.player-icon
{
	width:8px;
	height:8px;
	border-radius: 6px;
	background-color:#332222;
}
.player-icon
{
	font-size: 1.25em;
	color:#332222;
}
.button.red
{
	background-color:#1A2B2B;
}
.leaflet-clickable, .leaflet-container
{
	cursor:	default;
}